<ion-content class="settings-container">
  <div class="header-section">
    <!-- TODO: Add settings icon/logo -->
    <!-- <img src="assets/settings-icon.png" alt="Settings" class="settings-icon"> -->
    <h1>Settings</h1>
    <p>Customize your experience</p>
  </div>

  <ion-list class="settings-list">
    <div class="settings-group">
      <div class="group-title">Preferences</div>
      
      <ion-item>
        <ion-icon name="moon" slot="start"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-icon name="notifications" slot="start"></ion-icon>
        <ion-label>Push Notifications</ion-label>
        <ion-toggle [(ngModel)]="notifications" (ionChange)="toggleNotifications()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-icon name="play" slot="start"></ion-icon>
        <ion-label>Auto-play Cards</ion-label>
        <ion-toggle [(ngModel)]="autoPlay" (ionChange)="toggleAutoPlay()"></ion-toggle>
      </ion-item>
    </div>

    <div class="settings-group">
      <div class="group-title">App Settings</div>
      
      <ion-item button (click)="changeLanguage()">
        <ion-icon name="language" slot="start"></ion-icon>
        <ion-label>Language</ion-label>
        <ion-label slot="end" class="setting-value">English</ion-label>
      </ion-item>

      <ion-item button (click)="syncSettings()">
        <ion-icon name="cloud-outline" slot="start"></ion-icon>
        <ion-label>Sync Settings</ion-label>
      </ion-item>
    </div>

    <div class="settings-group">
      <div class="group-title">Support</div>
      
      <ion-item button (click)="helpSupport()">
        <ion-icon name="help-circle" slot="start"></ion-icon>
        <ion-label>Help & Support</ion-label>
      </ion-item>

      <ion-item button (click)="about()">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
    </div>

    <div class="settings-group">
      <div class="group-title">Data</div>
      
      <ion-item button (click)="resetAllData()" class="reset-item">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Reset All Data</ion-label>
      </ion-item>
    </div>

    <ion-item button (click)="logout()" class="logout-item">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>